:root{
    --larguraCard: 151px;
    --alturaCard: 91px;
    
    /* Atenção: recomendo definir dimensões ímpares, caso exista ponto médio. */
    /* O Ponto médio de dimensões ímpares resultam em valores inteiros. */
    /* Com isso, o cálculo da mediana nesta página é executado no caso ímpar. */

    --margem-vertical: 30px;
}

.caixaCantoEsquerdo{
    display: grid;
    grid-template-columns: max-content auto;
}

.caixaOrfa{
    display: grid;
    grid-template-rows: max-content max-content;
    width: max-content;
}

.caixaLateral{
    display: grid;
    grid-template-columns: max-content max-content;
}

.caixa{
    display: grid;
    grid-template-columns: max-content max-content;
}

div.separador{
    height: 30px;
}

.tetoCaixaSupEsq{
    height: 50px;
    width: auto;
}

.tetoCaixa{
    height: 50px;
    width: auto;
}

.card{
    height: var(--alturaCard);
    width: var(--larguraCard);
    border: 1px solid gray;
}

.lateralCaixa{
    width: 50px;
}

.bordagenerica{
    border: 1px dotted red;
}

.blocoColunaMeio{
    border-left: 1px solid gray;
    padding-top: var(--margem-vertical);
    padding-bottom: var(--margem-vertical);
}

.blocoColunasMeio{
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid gray;
    padding-left: 50px;
    padding-right: 50px;
}

.separadorHorizontal{
    height: var(--margem-vertical);
}

.colunaMeio{
    vertical-align: top;
    display: inline-block;
}

.sepMargemVertical{
    display: inline-block;
    width: 50px;
}

.emLinha{
    display: inline-block;
}

.blocoComposto{
    height: var(--alturaCard);
}

.blocoColunaPiso{
    display: inline-block;
    vertical-align: top;
}

/* conectores */

.conCantoSupEsquerdo{
    width: auto;
    margin-left: calc((var(--larguraCard) - 1px) / 2);
    height: 100%;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.conVerticalSuperior{
    width: 100%;
    height: 100%;
    margin-left: calc((var(--larguraCard) + 1px) / 2);
    border-left: 1px solid gray;
}

.conCantoSupDireito{
    width: calc((var(--larguraCard) + 1px) / 2);
    height: 100%;
    margin-left: 0;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

.conLatMargem{
    height: calc((var(--alturaCard) - 1px) / 2);
}

.conLatCantoEsq{
    width: 100%;
    height: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.conLatFundo{
    width: 100%;
    height: calc((var(--alturaCard) + 1px) / 2);
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.conLinhaLateral{
    width: 100%;
    height: calc((var(--alturaCard) + 1px) / 2);
    border-bottom: 1px solid gray;
}
